<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleWWANSupport</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleWWANSupport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleWWANSupport</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.6</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleWANDeviceDellXpress34</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>ExpressCardCantWake</key>
			<true/>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33047</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>AppleWANDeviceMC5720</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>24</integer>
			<key>idVendor</key>
			<integer>4505</integer>
		</dict>
		<key>AppleWANDeviceMC5725</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>32</integer>
			<key>idVendor</key>
			<integer>4505</integer>
		</dict>
		<key>AppleWANDeviceNovatel740</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>ExpressCardCantWake</key>
			<true/>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>4384</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleWANDeviceNovatelHSDPA</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>9216</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleWANDeviceNovatelUSB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8464</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleWANDeviceNovatelX950D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>ExpressCardCantWake</key>
			<true/>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>5200</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleWANDeviceNovatelXU870</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>ExpressCardCantWake</key>
			<true/>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>5168</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleWANDeviceNovatelXpress34</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>ExpressCardCantWake</key>
			<true/>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>4352</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleWANDeviceOptionGlobetrotter</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>ExpressCardCantWake</key>
			<true/>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>26369</integer>
			<key>idVendor</key>
			<integer>2800</integer>
		</dict>
		<key>AppleWANDeviceSierraHPAUSB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>26710</integer>
			<key>idVendor</key>
			<integer>4505</integer>
		</dict>
		<key>AppleWANDeviceSierraHSDPAUSB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport</string>
			<key>IOClass</key>
			<string>AppleWWANSupport</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>26642</integer>
			<key>idVendor</key>
			<integer>4505</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
