<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleWWANSupport1</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleWWANSupport1</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleWWANSupport</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.6</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleDellInterface0NovatelX34</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/novatelX34.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>33047</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>AppleDellInterface1NovatelX34</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/novatelX34.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>0</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>33047</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>AppleVerizonInterface0Novatel740</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/novatelX34.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4384</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleVerizonInterface0NovatelUSB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/novatelX34.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>8464</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleVerizonInterface0NovatelX34</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/novatelX34.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4352</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleVerizonInterface0NovatelXU870</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/novatelXU870.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>5168</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleVerizonInterface1Novatel740</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/novatelX34.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>4384</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleVerizonInterface1NovatelUSB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/novatelX34.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>8464</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleVerizonInterface1NovatelX34</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/novatelX34.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>4352</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleVerizonInterface1NovatelXU870</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/novatelXU870.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5168</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>AppleVerizonInterface2Franklin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/franklinCDMA.plist</string>
			<key>DataCDC</key>
			<true/>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>21843</integer>
			<key>idVendor</key>
			<integer>5848</integer>
		</dict>
		<key>NovatelX950DInterface0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/novatelX34.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>5200</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>NovatelX950DInterface1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/novatelX34.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5200</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>OptionGlobetrotterHSDPAInterface0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/optionHSDPA.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>26369</integer>
			<key>idVendor</key>
			<integer>2800</integer>
		</dict>
		<key>OptionGlobetrotterHSDPAInterface2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleWWANSupport1</string>
			<key>ConfigFile</key>
			<string>/System/Library/CoreServices/Menu Extras/WWAN.menu/Contents/Resources/optionHSDPA.plist</string>
			<key>IOClass</key>
			<string>AppleWWANSupport1</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>16</integer>
			<key>OutputBuffers</key>
			<integer>4</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>26369</integer>
			<key>idVendor</key>
			<integer>2800</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>1.0.6</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
	</dict>
</dict>
</plist>
